<html>
    <body>
        Hi Jeremy Walker
        <%= link_to "A normal link", "/foobar" %>
        <%= link_to "A mail link", "mailto:jez.walker@gmail.com" %>
        <%= link_to "A no-track link", "/foobar?et_notrack=true" %>
        <%= link_to "An external link", "/foobar?et_external=true" %>
        <%= link_to "A normal link", "/foobar" %>
        <%= link_to "A mail link", "mailto:jez.walker@gmail.com" %>
        <%= link_to "A no-track link", "/foobar?et_notrack=true" %>
        <%= link_to "An external link", "/foobar?et_external=true" %>
        <%= link_to "A normal link", "/foobar" %>
        <%= link_to "A mail link", "mailto:jez.walker@gmail.com" %>
        <%= link_to "A no-track link", "/foobar?et_notrack=true" %>
        <%= link_to "An external link", "/foobar?et_external=true" %>
        <%= link_to "A normal link", "/foobar" %>
        <%= link_to "A mail link", "mailto:jez.walker@gmail.com" %>
        <%= link_to "A no-track link", "/foobar?et_notrack=true" %>
        <%= link_to "An external link", "/foobar?et_external=true" %>
    </body>
</html>